<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Global Bilgi</a>
        </div>
        <ul class="nav navbar-nav">
            <li [ngClass]="!isPageAdmin ? 'active' : ''">
                <a href="#" 
                    (click)="isCurrentPageAdmin.emit(false); isPageAdmin = false"
                    >Yeni Kayıt Ekle</a></li>
            <li [ngClass]="isPageAdmin ? 'active' : ''">
                <a href="#" 
                    (click)="isCurrentPageAdmin.emit(true); isPageAdmin = true"
                    >Admin Ekranı</a></li>
        </ul>
    </div>
  </nav>