<div class="container add-edit-section">
  <div class="row">
    <div class="col-xs-12">
      <h3>{{!isEdit ? "Yeni Kayıt Ekle" : "Düzenle"}}</h3>
      <form (ngSubmit)="onSubmit()" [formGroup]="newRecordForm">
        <div class="row">
          <div class="col-xs-2">
            <div class="form-group">
              <label for="begin">Başlangıç:</label>
              <input type="time" class="form-control" id="begin" formControlName="begin">
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group">
              <label for="end">Bitiş:</label>
              <input type="time" class="form-control" id="end" formControlName="end">
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group">
              <label for="dateInfo">Tarih:</label>
              <input type="date" class="form-control" id="dateInfo" formControlName="dateInfo">
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group">
              <label for="excuse">Mazeret:</label>
              <input type="text" class="form-control" id="excuse" formControlName="excuse">
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group">
              <label for="excuseHours">Mazeret Saati:</label>
              <input type="number" class="form-control" id="excuseHours" formControlName="excuseHours">
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group">
              <label for="timeout">Mola:</label>
              <input type="number" class="form-control" id="timeout" formControlName="timeout">
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-center">
          <button type="submit" class="btn btn-primary">{{!isEdit ? "Ekle" : "Onayla"}}</button>
          <button class="btn btn-danger" 
            *ngIf="isEdit" 
            (click)="cancelEdit()"
            style="margin-left: 15px;">İptal</button>
        </div>
      </form>
      <!-- <div class="col-xs-12 text-center">
        <button class="btn btn-danger" *ngIf="isEdit" (click)="cancelEdit()">İptal</button>
      </div> -->
    </div>
  </div>
</div>


<div class="container table-section">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Başlangıç</th>
          <th>Bitiş</th>
          <th>Tarih</th>
          <th>Mazeret</th>
          <th>Mazeret Saati</th>
          <th>Mola</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of userDataList; let i = index" [ngClass]="record.id === editedRecordId ? 'edited-row' : ''">
          <td>{{ record.begin }}</td>
          <td>{{ record.end }}</td>
          <td>{{ record.dateInfo }}</td>
          <td>{{ record.excuse }}</td>
          <td>{{ record.excuseHours }}</td>
          <td>{{ record.timeout }}</td>
          <td>
            <button class="btn btn-primary" (click)="loadFormValuesForEdit(record)" [disabled]="isEdit">
              Düzenle <!-- Edit Icon -->
            </button>
            <button class="btn btn-danger" 
              (click)="removeRecord(record)" 
              [disabled]="isEdit"
              style="margin-left: 15px;">
              Sil <!-- Remove Icon -->
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  